.projects {
    padding-left: 100px;
    padding-bottom: 150px;
}

.title {
    padding-bottom: 40px;
}

.outer_card {
    width: max-content;
    background-color: aqua;
}

.img_card {
    width: max-content;
    padding: 15px;
    min-height: 200px;
    background-color: antiquewhite;
}

.image {
    width: 350px;
    overflow: hidden;
}
