.projects {
    padding-top: 100px;
    padding-bottom: 150px;
}

.cards {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    gap: 5px;
}

.title {
    padding-bottom: 40px;
}

.outer_card {
    width: 370px;
    padding-bottom: 10px;

}

.img_card {
    width: max-content;
    padding: 15px;
    min-height: 200px;
    /* background-color: antiquewhite; */
}

.image {
    width: 350px;
    overflow: hidden;
}

.card_text {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.repo {
    color: #6caedd;
    font-style: italic;
}

.repo:hover {
    color: var(--repo-hover)
}
