.intro {
    line-height: 50px;
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 150px;
}

.waving {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.hey {
    padding-left: 0;
    padding-top: 10px;
    margin: 0;
}

h1 {
    font-size: 60px !important;
}

.typewriter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.typing {
    color: #1982C4;
    padding-left: 0.35rem;
}

.description {
    padding-top: 140px;
    padding-right: 100px;
}

.logos {
    padding-top: 100px;
    padding-bottom: 100px;
}

.persona {
    position: absolute;
}

.hero {
    max-width: 350px;
}

/* .bubble {
    background-color: white;
} */

.react {
    height: 80px;
    position: relative;
    top: -420px;
    right: 37px;
}

.jest {
    height: 80px;
    position: relative;
    top: -200px;
    right: -350px;
}

.python {
    height: 90px;
    position: relative;
    top: -540px;
    right: -345px;
}

.vitest {
    height: 80px;
    position: relative;
    top: -230px;
    right: -125px;
}

@media (min-width: 768px){
    .container{
      max-width:100%;
    }  
}
  
  @media (min-width: 992px){
    .container{
        max-width:100%;
    }
}
