.mainpage {
    background-image: var(--background-image);
    position: static;
    width: "100dvw";
    height: 100%;
}

.navigation {
    background-color: var(--nav-color);
}

.text {
    color: var(--nav-text);
}

.cursive {
    font-family: 'Kalam', cursive;
    font-size: 3rem;
}

.main-button, .about-button {
    background-color: var(--main-button);
    color: white;
}

.main-button:hover {
    background-color: var(--main-hover);
}

.buttons {
    width: max-content;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px  
}

.button {
    width: 100px;
}

.opacity-background {
    background-color: var(--opacity-background); 
}

